In [47]:
import seaborn as sns
%matplotlib inline
import pandas as bb
import warnings
warnings.filterwarnings("ignore")

######## importing the dataset using Pandas and showing head and info
db=bb.read_csv(r'C:\ya1\a1\titanic-passengers.csv')
db.dropna()
db.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,343,No,2,Mr. Erik Gustaf,male,28.0,0,0,13.0000,NaN,S
1,76,No,3,Mr. Sigurd Hansen,male,25.0,0,0,7.6500,F G73,S
2,641,No,3,Mr. Hans Peder,male,20.0,0,0,7.8542,NaN,S
3,568,No,3,Mrs. Nils (Alma Cornelia Berglund),female,29.0,0,4,21.0750,NaN,S
4,672,No,1,Mr. Thornton,male,31.0,1,0,52.0000,B71,S

In [48]:
db['Survived'] = db['Survived'].str.replace('Yes', '1')
db['Survived'] = db['Survived'].str.replace('No', '0')
db['Survived']=db['Survived'].astype(str).astype(int)

In [49]:
db['Sex'] = db['Sex'].str.replace('female', '1')
db['Sex'] = db['Sex'].str.replace('male', '0')
db['Sex']=db['Sex'].astype(str).astype(int)
db['Sex'].unique()

array([0, 1])

In [50]:
X = db[['Pclass','Fare','Sex']]
y = db['Survived']
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

X_train

     Pclass    Fare  Sex
140       2  26.250    1
439       3   7.750    1
817       2  26.000    1
378       3  15.500    1
491       3  69.550    1
..      ...     ...  ...
835       2  13.000    1
192       2  26.000    1
629       3  17.400    1
559       3   7.775    0
684       3   7.225    0

[712 rows x 3 columns]

In [53]:

print(X_train.shape, y_train.shape, X_test.shape)

(712, 3) (712,) (179, 3)

In [56]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

acc_log = round(regressor.score(X_train, y_train) * 100, 2)
acc_log

36.38

In [55]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

acc_log = round(logreg.score(X_train, y_train) * 100, 2)
acc_log

77.81

In [65]:
# Support Vector Machines
from sklearn.svm import SVC, LinearSVC
svc = SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, y_train) * 100, 2)
acc_svc

67.13

In [66]:
# KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier
values = {}
for val in range(1, 51):
    knn = KNeighborsClassifier(n_neighbors = val)
    knn.fit(X_train, y_train)
    Y_pred = knn.predict(X_test)
    acc = round(knn.score(X_train, y_train) * 100, 2)
    values[val] = acc

acc

69.38

In [67]:
from sklearn.naive_bayes import GaussianNB
gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, y_train) * 100, 2)
acc_gaussian

76.83

In [70]:
# Linear SVC
from sklearn.metrics import accuracy_score, mean_squared_error
linear_svc = LinearSVC()
linear_svc.fit(X_train, y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, y_train) * 100, 2)
acc_linear_svc

77.67

In [77]:

#Validation
import numpy as np

from sklearn import metrics
print("MSE:",metrics.mean_squared_error(y_pred,y_test))
print("MAE:",metrics.mean_absolute_error(y_pred,y_test))
print("RMSE:",np.sqrt(metrics.mean_squared_error(y_pred,y_test)))
print("r2_score:",metrics.r2_score(y_pred,y_test))

MSE: 0.14062798834108786
MAE: 0.2852379621707908
RMSE: 0.3750039844336162
r2_score: -0.6799577459788468

In [82]:
from sklearn.metrics import roc_auc_score
pred_prob1 = logreg.predict_proba(X_test)

# auc scores
auc_score1 = roc_auc_score(y_test, pred_prob1[:,1])
auc_score1

0.8266879688802444

In [83]:
from sklearn.metrics import roc_curve
pred_prob2 = logreg.predict_proba(X_test)

# auc scores
Roc_score = roc_curve(y_test, pred_prob1[:,1])
Roc_score

(array([0.        , 0.        , 0.        , 0.        , 0.        ,
        0.00847458, 0.00847458, 0.00847458, 0.00847458, 0.00847458,
        0.04237288, 0.04237288, 0.05084746, 0.06779661, 0.07627119,
        0.07627119, 0.08474576, 0.08474576, 0.09322034, 0.09322034,
        0.09322034, 0.09322034, 0.11016949, 0.11016949, 0.11864407,
        0.11864407, 0.13559322, 0.1779661 , 0.1779661 , 0.19491525,
        0.21186441, 0.22881356, 0.24576271, 0.26271186, 0.26271186,
        0.27118644, 0.31355932, 0.34745763, 0.36440678, 0.38983051,
        0.39830508, 0.40677966, 0.43220339, 0.48305085, 0.49152542,
        0.49152542, 0.5       , 0.52542373, 0.52542373, 0.53389831,
        0.55932203, 0.56779661, 0.58474576, 0.59322034, 0.61016949,
        0.62711864, 0.6440678 , 0.6440678 , 0.66101695, 0.72881356,
        0.79661017, 0.80508475, 0.80508475, 0.83050847, 0.8559322 ,
        0.86440678, 0.88135593, 0.88983051, 0.91525424, 0.98305085,
        0.98305085, 1.        ]),
 array([0.        , 0.01639344, 0.04918033, 0.08196721, 0.29508197,
        0.29508197, 0.36065574, 0.37704918, 0.44262295, 0.45901639,
        0.45901639, 0.49180328, 0.49180328, 0.49180328, 0.49180328,
        0.52459016, 0.52459016, 0.54098361, 0.54098361, 0.62295082,
        0.6557377 , 0.68852459, 0.68852459, 0.70491803, 0.70491803,
        0.72131148, 0.72131148, 0.72131148, 0.7704918 , 0.7704918 ,
        0.78688525, 0.78688525, 0.78688525, 0.78688525, 0.80327869,
        0.80327869, 0.80327869, 0.80327869, 0.80327869, 0.80327869,
        0.80327869, 0.81967213, 0.81967213, 0.81967213, 0.81967213,
        0.85245902, 0.85245902, 0.85245902, 0.86885246, 0.86885246,
        0.86885246, 0.86885246, 0.86885246, 0.86885246, 0.86885246,
        0.86885246, 0.8852459 , 0.90163934, 0.90163934, 0.91803279,
        0.91803279, 0.93442623, 0.96721311, 0.98360656, 0.98360656,
        0.98360656, 0.98360656, 0.98360656, 0.98360656, 0.98360656,
        1.        , 1.        ]),
 array([1.92141084, 0.92141084, 0.91394123, 0.91121545, 0.90650029,
        0.90491549, 0.78170431, 0.78139948, 0.77979411, 0.57707175,
        0.57415224, 0.57368289, 0.57337901, 0.57337811, 0.57336628,
        0.57267643, 0.57236964, 0.57231501, 0.57229043, 0.57193622,
        0.57191344, 0.55560526, 0.5001905 , 0.47135335, 0.46682343,
        0.45984962, 0.45883624, 0.44859462, 0.44830756, 0.4478706 ,
        0.44761216, 0.44739971, 0.44175927, 0.23625175, 0.23621081,
        0.23475964, 0.23448378, 0.23272568, 0.23248665, 0.23240701,
        0.23216821, 0.23200911, 0.2303431 , 0.10407696, 0.10377282,
        0.10336325, 0.1033405 , 0.10299771, 0.10298121, 0.10297709,
        0.10294823, 0.10286582, 0.10286204, 0.10283355, 0.10245462,
        0.10241358, 0.10238589, 0.10237393, 0.10236128, 0.10233565,
        0.102323  , 0.10231959, 0.1023148 , 0.1023131 , 0.10231105,
        0.102309  , 0.10230285, 0.10229021, 0.10227006, 0.10225367,
        0.10224752, 0.10200501]))